<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with TexturePacker http://www.codeandweb.com/texturepacker-->
<!-- $TexturePacker:SmartUpdate:6db60ff35d83365da129e29dc6e6bc79:acf1102c1b0202b10dca2ea8703d0ad0:b4da9324b5d92c57b73a9c864dd87fbf$ -->
<!--Format:
n  => name of the sprite
x  => sprite x pos in texture
y  => sprite y pos in texture
w  => sprite width (may be trimmed)
h  => sprite height (may be trimmed)
oX => sprite's x-corner offset (only available if trimmed)
oY => sprite's y-corner offset (only available if trimmed)
oW => sprite's original width (only available if trimmed)
oH => sprite's original height (only available if trimmed)
r => 'y' only set if sprite is rotated
-->
<TextureAtlas imagePath="Menu.png" width="2048" height="512">
    <sprite n="continue.png" x="640" y="144" w="160" h="144"/>
    <sprite n="credits-screen.png" x="480" y="288" w="160" h="144"/>
    <sprite n="credits.png" x="480" y="144" w="160" h="144"/>
    <sprite n="escuro.png" x="320" y="288" w="160" h="144"/>
    <sprite n="fundo-credits.png" x="320" y="144" w="160" h="144"/>
    <sprite n="game-over.png" x="0" y="0" w="1760" h="144"/>
    <sprite n="hud_energy.png" x="1929" y="0" w="3" h="3"/>
    <sprite n="hud_fundo.png" x="0" y="432" w="160" h="15"/>
    <sprite n="hud_heart.png" x="1920" y="0" w="9" h="8"/>
    <sprite n="new.png" x="160" y="288" w="160" h="144"/>
    <sprite n="press-start.png" x="160" y="144" w="160" h="144"/>
    <sprite n="splash.png" x="0" y="288" w="160" h="144"/>
    <sprite n="the-end.png" x="0" y="144" w="160" h="144"/>
    <sprite n="title_screen.png" x="1760" y="0" w="160" h="144"/>
</TextureAtlas>
